extends ../layouts/default

block css
	link(href="/js/fancybox/jquery.fancybox.css", rel="stylesheet")

block intro
	.container
		h2 Gallery
	
block content
	.container
		if galleries.length
			.row.gallery-images
				each gallery in galleries
					.col.s12.m4
						h5= gallery.name
						if gallery.publishedDate
							label= "Publish: "
							label.blue-text.text-darken-2=gallery._.publishedDate.format('MMMM DD, YYYY')
						if gallery.heroImage.exists
							a.fancybox(rel=gallery.name href=gallery._.heroImage.limit(680,680))
								img(src=gallery._.heroImage.limit(300,300)).img-rounded
							each image in gallery.images
								a.fancybox(rel=gallery.name href=image.limit(680,680))
						else
							each image in gallery.images
								a.fancybox(rel=gallery.name href=image.limit(680,680))
		else
			h3.right.blue-text.text-darken-2 There are no image galleries yet.
block page-js
	script(src='/js/fancybox/jquery.mousewheel-3.0.6.pack.js')
	script(src='/js/fancybox/jquery.fancybox.pack.js')
