extends ../layouts/default
block content
	.row.clear
		.col.s12.m8
			.section.no-pad-bot(id="index-banner")
				if(sliderImages)
					.slider
						ul.slides
							each simage in sliderImages
								li
									a(href=simage.website, title=simage.title, target="_blank")
										img(src=simage._.image.src(), alt=simage.title)
										.caption.center-align
											h3=simage.title
											h5.light.grey-text.text-lighten-3=simage.subtitle
			.row
				if(home.aboutus)
					h4 About us
					p!=home.aboutus
			.row
				if(home.ourprojects)
					h4 Our projects
					p!=home.ourprojects
		.col.s12.m4
			.card.deep-orange.lighten-5
				.card-content
					h4.card-title.center-align.blue-grey.z-depth-4 Featured Event
					h4.center-align.blue-grey.z-depth-4 Priya Suriyasena Night
					.row 
						span.label When: 
						span 23rd April 2016 at 6:30pm
					.row 
						span.label Where: 
						span Dorothy Winstone Centre - Auckland 
					.row.center-align
						iframe(width="350",height="300",src="https://www.youtube.com/embed/q5TIEtoWVBY", frameborder="0",allowfullscreen)
				.card-action.center-align
					a.waves-effect.waves-light.btn(href="/events/event/priya-suriyasena-night" style="margin-left:20px;") More Info...
			.row
				div.card.small
					div.card-image
						img(src="./images/spon_our_hero.jpg")
						span.card-title Sponsor heroes children
					div.card-content
						p Lorem Ipsum is slechts een proeftekst uit het drukkerij- en zetterijwezen. Lorem Ipsum is de standaard proeftekst in deze bedrijfstak sinds de 16e eeuw, toen een onbekende drukker 
					div.card-action
						a(href="#") this is a link
block page-js
	script.
		$(document).ready(function () {
			$('.slider').slider({height: 450});
		});
