include ../mixins/flash-messages
	
doctype html
html
	head
		if env === 'production'
			script.
				var _sf_startpt = (new Date()).getTime()
			
		meta(charset = "utf-8")
		meta(name="viewport", content="initial-scale=1.0,user-scalable=no,maximum-scale=1,width=device-width")
		title= title || 'Sri Lankan Ex Servicemen Association Auckland'
		link(rel="shortcut icon", href="/favicon.ico", type="image/x-icon")
		link(href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet")
		//- Customise the stylesheet for your site by editing /public/styles/site.sass
		link(href="/styles/site.css", rel="stylesheet")
		if user && user.canAccessKeystone
			link(href="/keystone/styles/content/editor.min.css", rel="stylesheet")
		block css
		block head
	body
		div.banner.bg-primary.hide-on-med-and-down.bgsoldier
			div.bgnavy
				.container
					a#logo-container.brand-logo(href='/') SLESANZ
					div.bgarmy.text-center our heroes
						span.heading.right.text-white Sri Lankan Ex Servicemen Association
		nav.clearfix.z-depth-5.deep-orange.accent-3(role='navigation')
			.nav-wrapper.container
				.logodiv
					span.heading.hide-on-med-and-up SLESA
					ul.left.hide-on-med-and-down
						each link in navLinks
							li(class=(section === link.key ? 'active' : null)): a(href=link.href)= link.label
					ul.right.hide-on-med-and-down
						li: a(href='/srilanka') Sri Lanka
						li: a.dropdown-button(href='#' data-activates='mnudropdown') Important Links
					ul#nav-mobile.side-nav
						each link in navLinks
							li(class=(section === link.key ? 'active' : null)): a(href=link.href)= link.label
						if user
							li: a(href='/keystone') Admin UI
							li: a(href='/keystone/signout') Sign Out
						else
							li: a(href='/keystone/signin') Sign In
					a.button-collapse(href='#', data-activates='nav-mobile')
						i.material-icons menu
					ul.dropdown-content.mnudropdown(id='mnudropdown')
						li: a(href='http://www.army.lk/' target='_blank') SL Army
						li: a(href='http://www.navy.lk/' target='_blank') SL Navy
						li: a(href='http://www.airforce.lk/' target='_blank') SL Air Force
						li: a(href='http://www.police.lk/' target='_blank') SL Police
						li.divider
						li: a(href='http://www.immigration.gov.lk/' target='_blank') SL Immigration
						li: a(href='http://www.airport.lk/' target='_blank') SL Air Port
						li: a(href='http://www.slhcaust.org/' target='_blank') High Commission
						li.divider
						li: a(href='http://www.usla.org.nz/' target='_blank') USLA
						li: a(href='http://nzslfoundation.org/' target='_blank') Foundation
						li: a(href='http://spur.org.nz/' target='_blank') SpurNZ
						
		.container.bgwhite
			//- intro
			block intro
			//- messages
			+flash-messages(messages)
			//- content
			block content
			//- footer
		footer.page-footer.deep-orange.accent-3
			.container
				.row
					.col.l6.s12
						h5.white-text SLESA Bio
						p.white-text Lorem Ipsum is slechts een proeftekst uit het drukkerij- en zetterijwezen. Lorem Ipsum is de standaard proeftekst in deze bedrijfstak sinds de 16e eeuw, toen een onbekende drukker een zethaak met letters nam en ze door elkaar husselde om een font-catalogus te maken.
					.col.l3.s12
						h5.white-text Connect
						ul
							li
								a.white-text(href="/") Home
							li
								a.white-text(href="/aboutus") About Us
							li
								a.white-text(href="/news") News
							li
								a.white-text(href="/events") Events
							li
								a.white-text(href="/projects") Our Projects
							li
								a.white-text(href="/contact") Contact
					.col.l3.s12
						h5.white-text More About SLESANZ
						ul
							li
								a.white-text(href="/news") Read our news
							li
								a.white-text(href="/contact") Work with us
							lih
								a.white-text(href="/gallery") Gallery
			.footer-copyright
				.container Copyright &copy; 2011-2015 Sri Lankan Ex Servicemen Association Auckland
					
		script.
			!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');
		//- scripts
		script(src='//code.jquery.com/jquery-1.11.3.min.js')
		script(src='/styles/materialize/dist/js/materialize.min.js')
		script(src='/js/init.js')
		//-script(src='/js/lib/bootstrap/dropdown.js')
		//-script.
		//-$('body')[0].style.paddingTop = $('.navbar').height() + 30 + 'px';
		if user && user.canAccessKeystone
			script(src='/keystone/js/content/editor.js')
		block page-js
			
		if env === 'production'
			script.
				(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
				(i[r].q=i[r].q || []).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
				m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
				})(window,document,'script','//www.google-analytics.com/analytics.js','ga');
				ga('create', '#{ga_property}', '#{ga_domain}');
				ga('send', 'pageview');
			script.
				var _sf_async_config = { uid: #{chartbeat_property}, domain: '#{chartbeat_domain}', useCanonical: true };
				(function() {
					function loadChartbeat() {
						window._sf_endpt = (new Date()).getTime();
						var e = document.createElement('script');
						e.setAttribute('language', 'javascript');
						e.setAttribute('type', 'text/javascript');
						e.setAttribute('src','//static.chartbeat.com/js/chartbeat.js');
						document.body.appendChild(e);
					};
					var oldonload = window.onload;
					window.onload = (typeof window.onload != 'function') ? 
					loadChartbeat : function() { oldonload(); loadChartbeat(); };
				})();
